<a href="https://colab.research.google.com/github/fnzl54/DAP__/blob/main/final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

202010529 권찬영 데이터분석프로그래밍 final project

In [3]:
from google.colab import files
import numpy as np
import pandas as pd
import seaborn as sns

In [7]:
myfile = files.upload()

Saving FB.csv to FB.csv
Saving GOOG.csv to GOOG.csv
Saving UBER.csv to UBER.csv

csv파일을 colab에 업로드하는 코드입니다.

In [8]:
AppleStockDf = pd.read_csv('Apple Stock.csv', dtype=str, encoding='CP949')
FbStockdf = pd.read_csv('FB.csv', dtype=str, encoding='CP949')
GoogStockDf = pd.read_csv('GOOG.csv', dtype=str, encoding='CP949')
UberStockDf = pd.read_csv('UBER.csv', dtype=str, encoding='CP949')

각 csv파일을 pandas를 통해 불러옵니다

In [10]:
AppleStockDf.head()

  symbol                       date  close  ...  adjVolume divCash splitFactor
0   AAPL  2016-05-18 00:00:00+00:00  94.56  ...  168249564     0.0         1.0
1   AAPL  2016-05-19 00:00:00+00:00   94.2  ...  121768400     0.0         1.0
2   AAPL  2016-05-20 00:00:00+00:00  95.22  ...  128103872     0.0         1.0
3   AAPL  2016-05-23 00:00:00+00:00  96.43  ...  152074572     0.0         1.0
4   AAPL  2016-05-24 00:00:00+00:00   97.9  ...  140560696     0.0         1.0

[5 rows x 14 columns]

In [11]:
FbStockdf.head()

         Date       Open       High        Low      Close  Adj Close     Volume
0  2012-05-18  42.049999  45.000000  38.000000  38.230000  38.230000  573576400
1  2012-05-21  36.529999  36.660000  33.000000  34.029999  34.029999  168192700
2  2012-05-22  32.610001  33.590000  30.940001  31.000000  31.000000  101786600
3  2012-05-23  31.370001  32.500000  31.360001  32.000000  32.000000   73600000
4  2012-05-24  32.950001  33.209999  31.770000  33.029999  33.029999   50237200

In [12]:
GoogStockDf.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.813290  51.835709  47.800831  49.982655  49.982655  44871361
1  2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942874
2  2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342897
3  2004-08-24  55.412300  55.591629  51.591621  52.239197  52.239197  15319808
4  2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232276

In [15]:
UberStockDf.head()

         Date       Open       High        Low      Close  Adj Close     Volume
0  2019-05-10  42.000000  45.000000  41.060001  41.570000  41.570000  186322500
1  2019-05-13  38.790001  39.240002  36.080002  37.099998  37.099998   79442400
2  2019-05-14  38.310001  39.959999  36.849998  39.959999  39.959999   46661100
3  2019-05-15  39.369999  41.880001  38.950001  41.290001  41.290001   36086100
4  2019-05-16  41.480000  44.060001  41.250000  43.000000  43.000000   38115500